<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <!-- <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" routerLink="/categories" routerLinkActive="active">Category</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/authors" routerLinkActive="active">Authors</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/books" routerLinkActive="active">Books</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/user/registration" routerLinkActive="active">Register</a>
      </li>
      <!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li> -->
    </ul>
    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
    <div *ngIf="token">
      <button class="btn btn-outline-success my-2 my-sm-0" (click)="LogOut()">LogOut</button>
    </div>
    <div *ngIf="!token">
      <button class="btn btn-outline-success my-2 my-sm-0" routerLink="/user/login" (click)="LogOut()">LogIn</button>
      <button class="btn btn-outline-success my-2 my-sm-1 ml-1" routerLink="/user/registration"
        (click)="LogOut()">Register</button>
    </div>
  </div>
</nav>


<div class="container">

  <div class='row mt-1'>
    <div *ngIf="this.service.getUserDetails().userRoles.includes('Admin')" class='col-md-3 '>
      <div class="card card-body bg-light">
        <strong>Admin Panel</strong>
      </div>
      <div id='accordion' role='tablist' aria-multiselectable='true'>
        <!-- 1 Panel start Here -->
        <div class='card mt-1 '>
          <div class='card-header' role='tab' id='headingOne'>
            <h4 class='card-title my-auto'>
              <a role='button btn-secondary' data-toggle='collapse' data-parent='#accordion' href='#collapseOne'
                aria-expanded='false' aria-controls='collapseOne' class='collapsed'>
                <span class="fas fa-plus-square pull-right" aria-hidden='true'></span> Books
              </a>
            </h4>
          </div>
          <div id='collapseOne' class='panel-collapse collapse' role='tabpanel' aria-labelledby='headingOne'
            aria-expanded='false' style='height: 0px;'>
            <div class='card-body pt-1 pb-1'>
              <div class="mt-1">
                <a role="button" class="fas fa-angle-right btn btn-primary btn-md" routerLink="/user/registration">
                  Register</a>
              </div>
              <div class="mt-1">
                <a role="button" class="fas fa-angle-right btn btn-primary btn-md" routerLink="/user/registration">
                  Register</a>
              </div>
              <!-- List Group End Here -->
            </div>
          </div>
        </div> <!-- 1 Panel End Here -->
        <!-- 2 Panel start Here -->
        <div class='card mt-1'>
          <div class='card-header' role='tab' id='headingTwo'>
            <h4 class='card-title my-auto'>
              <a role='button' data-toggle='collapse' data-parent='#accordion' href='#collapseTwo' aria-expanded='false'
                aria-controls='collapseTwo' class='collapsed'>
                <span class="fas fa-plus-square pull-right" aria-hidden='true'></span> Authors
              </a>
            </h4>
          </div>
          <div id='collapseTwo' class='panel-collapse collapse' role='tabpanel' aria-labelledby='headingTwo'
            aria-expanded='false' style='height: 0px;'>
            <div class='card-body pt-1 pb-1'>
              <!-- List Group End Here -->
            </div>
          </div>
        </div> <!-- 2 Panel End Here -->
        <!-- 3 Panel start Here -->
        <div class='card mt-1'>
          <div class='card-header' role='tab' id='headingThree'>
            <h4 class='card-title my-auto'>
              <a class='collapsed' role='button' data-toggle='collapse' data-parent='#accordion' href='#collapseThree'
                aria-expanded='false' aria-controls='collapseThree'>
                <span class="fas fa-plus-square pull-right" aria-hidden='true'></span> Categories
              </a>
            </h4>
          </div>
          <div id='collapseThree' class='panel-collapse collapse' role='tabpanel' aria-labelledby='headingThree'
            aria-expanded='false' style='height: 0px;'>
            <div class='card-body pt-1 pb-1'>
              <!-- List Group End Here -->
              <!-- List Group End Here -->
            </div>
          </div>
        </div> <!-- 3 Panel End Here -->
        <!-- 4 Panel start Here -->
        <div class='card mt-1'>
          <div class='card-header' role='tab' id='headingFour'>
            <h4 class='card-title my-auto'>
              <a class='collapsed' role='button' data-toggle='collapse' data-parent='#accordion' href='#collapseFour'
                aria-expanded='false' aria-controls='collapseFour'>
                <span class="fas fa-plus-square pull-right" aria-hidden='true'></span> Languages
              </a>
            </h4>
          </div>
          <div id='collapseFour' class='panel-collapse collapse' role='tabpanel' aria-labelledby='headingFour'
            aria-expanded='false' style='height: 0px;'>
            <div class='card-body pt-1 pb-1'>
              <!-- List Group End Here -->
              <!-- List Group End Here -->
            </div>
          </div>
        </div> <!-- 4 Panel End Here -->
        <!-- 5 Panel start Here -->
        <div class='card mt-1'>
          <div class='card-header' role='tab' id='headingFive'>
            <h4 class='card-title my-auto'>
              <a class='collapsed' role='button' data-toggle='collapse' data-parent='#accordion' href='#collapseFive'
                aria-expanded='false' aria-controls='collapseFive'>
                <span class="fas fa-plus-square pull-right" aria-hidden='true'></span> Users
              </a>
            </h4>
          </div>
          <div id='collapseFive' class='panel-collapse collapse' role='tabpanel' aria-labelledby='headingFive'
            aria-expanded='false' style='height: 0px;'>
            <div class='card-body pt-1 pb-1'>
              <!-- List Group End Here -->
              <!-- List Group End Here -->
            </div>
          </div>
        </div> <!-- 5 Panel End Here -->
        <!-- 6 Panel start Here -->
        <div class='card mt-1'>
          <div class='card-header' role='tab' id='headingSix'>
            <h4 class='card-title my-auto'>
              <a class='collapsed' role='button' data-toggle='collapse' data-parent='#accordion' href='#collapseSix'
                aria-expanded='false' aria-controls='collapseSix'>
                <span class="fas fa-plus-square pull-right" aria-hidden='true'></span> Orders
              </a>
            </h4>
          </div>
          <div id='collapseSix' class='panel-collapse collapse' role='tabpanel' aria-labelledby='headingSix'
            aria-expanded='false' style='height: 0px;'>
            <div class='card-body pt-1 pb-1'>
              <!-- List Group End Here -->
              <!-- List Group End Here -->
            </div>
          </div>
        </div> <!-- 6 Panel End Here -->
      </div>
    </div><!-- /.sidebar column end here -->
    <div class='col-md-9 mx-auto'>
      <div class='container, devise-form-1'>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>


  <!-- <router-outlet></router-outlet> -->
</div>








<div class="container">

  <!-- <app-authors></app-authors> -->
  <h1 class="title">Angular Router</h1>
  <nav>
    <a [routerLink]="[{ outlets: { popup: ['category'] } }]">Contact</a>
    <!-- <a routerLink="/category" routerLinkActive="active">Crisis Center</a> -->
    <!-- <a routerLink="/superheroes" routerLinkActive="active">Heroes</a>
  <a routerLink="/admin" routerLinkActive="active">Admin</a>
  <a routerLink="/login" routerLinkActive="active">Login</a>
  <a [routerLink]="[{ outlets: { popup: ['compose'] } }]">Contact</a> -->
  </nav>
  <!-- <div [@routeAnimation]="getAnimationData(routerOutlet)">
  <router-outlet #routerOutlet="outlet"></router-outlet>
</div> -->
  <router-outlet name="popup"></router-outlet>
</div>