<table class="table table-hover bg-br">
    <thead>
        <tr>
            <th scope="col">Email</th>
            <th scope="col">Rols</th>
            <th scope="col">Options</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of service.list">
            <td>{{user.Email}}</td>
            <td>{{user.userRoles}}</td>
            <td>
                <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(user.Email)"></i>
            </td>
        </tr>
    </tbody>
</table>